* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'TT Commons', sans-serif;
    background-color: #121313;
    color:white;
    text-decoration: none;
}

h1 {
    color:#ffdc04
}

.hero {
    text-decoration: none;
}

.title {
    text-align: center;
    font-size: 24px;
    padding:10px;
    
    text-decoration: none;
}
.typingwrapper {
    text-align: center;
    font-size: 24px;
    color:white;
}

.typing {
    font-size: 24px;
    color:black;
    text-align: center;
    flex:auto;
    padding: 10px;
    text-decoration: none;
    color:white;
}

.table-container {
    margin:20px;
    padding: 20px; 
    overflow: auto; 
}


.files table {
    background-color: white;
    width: 100%;
    border-collapse: collapse; 
}

.files table th,
.files table td {
    padding: 15px;
    border-bottom: 1px solid #ccc; 
}


.aboutus, .howdoesthiswork {
    overflow: auto;
    padding:25px;
    border: 10px;
    border-style:solid;
    border-width: 2px;
    border-radius: 5px;
    background-color: 5px 5px 10px rgba(0, 0, 0, 0.5);
    text-shadow:2px;
    margin:10px;
}

.aboutus p {
    font-weight: normal;
}

.date, .folder_name {
    text-align: center;
}

.howdoesthiswork p {
    font-size: px;
    font-weight: normal;
}

.classnameunderline, .foldernameunderline {
    text-decoration: underline;
    color:#ffdc04;
    font-size:24px;
}
body {
    min-height: 100vh;
}
footer {
    margin-top: auto;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-end;
    padding: 10px; /* Add padding for spacing */
    
}

.files a {
    text-decoration: underline;
}

.fa-folder {
  color: #ffffff;
}

.directory {
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.popup {
    background-color: #ffffff;
    width: 50vw;
    padding:30px 40px;
    position:absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius:50px;
    font-family: 'TT Commons', sans-serif;
}

.popup h1, .popup p, .popup a, .popup em  {
    color: rgb(0, 0, 0);
    background-color: transparent;
    font-family: 'TT Commons', sans-serif;
}

.popup button {
    display: block;
    margin: 0 0 20px auto;
    background-color: #ffffff;
    font-size: 30px;
    color: #000000;
    border: none;
    outline: none;
    cursor:pointer;
}

.popup p, .popup em {
    font-size: 14px;
    text-align: justify;
    margin: 20px 0;

}

.popup a {
    display: block;
    position: relative;
    margin: auto;
    text-align: center;
    background-color: #ffdc04;
    padding: 5px 0;
    width:300px;
    border-radius: 50px;

}
